In [1]:
# Import libraries.
import pandas as pd
from pathlib import Path

In [2]:
cwd = Path.cwd()
cwd

WindowsPath('C:/Users/admin/Desktop/2024_projects/showcase/dev_tools')

In [3]:
# CSV paths
amzn_csv = Path(
        "../resources/amazon.csv"
        )
sox_csv = Path(
        "../resources/SOX_2015_2020.csv"
        )
# Create symbol dictionary.
symbol_dict = {
    "amzn": "AMAZON",
    "sox": "SOX"
}
# Create list of paths.
csv_dict = {
    "amzn": amzn_csv,
    "sox": sox_csv
}

# Review list paths.
print(Path.is_file(csv_dict["amzn"]))
print(Path.is_file(csv_dict["sox"]))

True
True

In [4]:
for k, v in symbol_dict.items():
    print(
        f"{k} ==> {v}"
    )

amzn ==> AMAZON
sox ==> SOX

In [5]:
list = []
tup = (list, 34.34, "burrito")
tup

([], 34.34, 'burrito')

In [6]:
tup[0].append("amzn")
tup[0].append("sky")
tup

(['amzn', 'sky'], 34.34, 'burrito')

In [7]:
tup[0]

['amzn', 'sky']

In [8]:
for i in tup[0]:
    print(i)

amzn
sky

In [9]:
# Create containers.
list = []
tup = (list)

# For the purpose of project.
df_tup = ()

In [10]:

for df in csv_dict:
    for k,v in symbol_dict.items():
        df = pd.read_csv(csv_dict[k])
        # df = df.keys = v
        print(df)
        tup.append(df)

           Date         Open         High          Low        Close
0    2018-09-04  2026.500000  2050.500000  2013.000000  2039.510010  \
1    2018-09-05  2038.109985  2040.380005  1989.890015  1994.819946
2    2018-09-06  2006.510010  2007.500000  1935.209961  1958.310059
3    2018-09-07  1938.709961  1975.199951  1937.349976  1952.069946
4    2018-09-10  1971.000000  1973.040039  1931.520020  1939.010010
..          ...          ...          ...          ...          ...
230  2019-08-05  1770.219971  1788.670044  1748.780029  1765.130005
231  2019-08-06  1792.229980  1793.770020  1753.400024  1787.829956
232  2019-08-07  1773.989990  1798.930054  1757.000000  1793.400024
233  2019-08-08  1806.000000  1834.260010  1798.109985  1832.890015
234  2019-08-09  1828.949951  1831.089966  1802.219971  1807.579956

       Adj Close   Volume
0    2039.510010  5721100
1    1994.819946  8220600
2    1958.310059  7488700
3    1952.069946  4892600
4    1939.010010  4544800
..           ...      ...
230  1765.130005  6058200
231  1787.829956  5070300
232  1793.400024  4526900
233  1832.890015  3701200
234  1807.579956  2829600

[235 rows x 7 columns]
                     Date    Open      High      Low    Close
0     2015-05-26 09:30:00   719.51   720.32   714.11   714.70
1     2015-05-26 10:00:00   714.70   715.58   712.02   713.89
2     2015-05-26 12:00:00   713.89   714.56   711.89   711.95
3     2015-05-26 14:00:00   711.95   715.43   711.44   714.79
4     2015-05-27 09:30:00   716.49   723.03   716.21   721.83
...                   ...      ...      ...      ...      ...
4952  2020-05-12 14:00:00  1773.22  1774.03  1724.40  1724.59
4953  2020-05-13 09:30:00  1729.62  1733.20  1708.62  1721.73
4954  2020-05-13 10:00:00  1721.50  1741.61  1689.48  1693.28
4955  2020-05-13 12:00:00  1693.33  1695.57  1674.23  1676.15
4956  2020-05-13 14:00:00  1675.86  1694.44  1667.52  1691.58

[4957 rows x 5 columns]
           Date         Open         High          Low        Close
0    2018-09-04  2026.500000  2050.500000  2013.000000  2039.510010  \
1    2018-09-05  2038.109985  2040.380005  1989.890015  1994.819946
2    2018-09-06  2006.510010  2007.500000  1935.209961  1958.310059
3    2018-09-07  1938.709961  1975.199951  1937.349976  1952.069946
4    2018-09-10  1971.000000  1973.040039  1931.520020  1939.010010
..          ...          ...          ...          ...          ...
230  2019-08-05  1770.219971  1788.670044  1748.780029  1765.130005
231  2019-08-06  1792.229980  1793.770020  1753.400024  1787.829956
232  2019-08-07  1773.989990  1798.930054  1757.000000  1793.400024
233  2019-08-08  1806.000000  1834.260010  1798.109985  1832.890015
234  2019-08-09  1828.949951  1831.089966  1802.219971  1807.579956

       Adj Close   Volume
0    2039.510010  5721100
1    1994.819946  8220600
2    1958.310059  7488700
3    1952.069946  4892600
4    1939.010010  4544800
..           ...      ...
230  1765.130005  6058200
231  1787.829956  5070300
232  1793.400024  4526900
233  1832.890015  3701200
234  1807.579956  2829600

[235 rows x 7 columns]
                     Date    Open      High      Low    Close
0     2015-05-26 09:30:00   719.51   720.32   714.11   714.70
1     2015-05-26 10:00:00   714.70   715.58   712.02   713.89
2     2015-05-26 12:00:00   713.89   714.56   711.89   711.95
3     2015-05-26 14:00:00   711.95   715.43   711.44   714.79
4     2015-05-27 09:30:00   716.49   723.03   716.21   721.83
...                   ...      ...      ...      ...      ...
4952  2020-05-12 14:00:00  1773.22  1774.03  1724.40  1724.59
4953  2020-05-13 09:30:00  1729.62  1733.20  1708.62  1721.73
4954  2020-05-13 10:00:00  1721.50  1741.61  1689.48  1693.28
4955  2020-05-13 12:00:00  1693.33  1695.57  1674.23  1676.15
4956  2020-05-13 14:00:00  1675.86  1694.44  1667.52  1691.58

[4957 rows x 5 columns]

In [13]:
tup[0]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-09-04,2026.500000,2050.500000,2013.000000,2039.510010,2039.510010,5721100
1,2018-09-05,2038.109985,2040.380005,1989.890015,1994.819946,1994.819946,8220600
2,2018-09-06,2006.510010,2007.500000,1935.209961,1958.310059,1958.310059,7488700
3,2018-09-07,1938.709961,1975.199951,1937.349976,1952.069946,1952.069946,4892600
4,2018-09-10,1971.000000,1973.040039,1931.520020,1939.010010,1939.010010,4544800
...,...,...,...,...,...,...,...
230,2019-08-05,1770.219971,1788.670044,1748.780029,1765.130005,1765.130005,6058200
231,2019-08-06,1792.229980,1793.770020,1753.400024,1787.829956,1787.829956,5070300
232,2019-08-07,1773.989990,1798.930054,1757.000000,1793.400024,1793.400024,4526900
233,2019-08-08,1806.000000,1834.260010,1798.109985,1832.890015,1832.890015,3701200
234,2019-08-09,1828.949951,1831.089966,1802.219971,1807.579956,1807.579956,2829600

In [14]:
tup[1]

                     Date    Open      High      Low    Close
0     2015-05-26 09:30:00   719.51   720.32   714.11   714.70
1     2015-05-26 10:00:00   714.70   715.58   712.02   713.89
2     2015-05-26 12:00:00   713.89   714.56   711.89   711.95
3     2015-05-26 14:00:00   711.95   715.43   711.44   714.79
4     2015-05-27 09:30:00   716.49   723.03   716.21   721.83
...                   ...      ...      ...      ...      ...
4952  2020-05-12 14:00:00  1773.22  1774.03  1724.40  1724.59
4953  2020-05-13 09:30:00  1729.62  1733.20  1708.62  1721.73
4954  2020-05-13 10:00:00  1721.50  1741.61  1689.48  1693.28
4955  2020-05-13 12:00:00  1693.33  1695.57  1674.23  1676.15
4956  2020-05-13 14:00:00  1675.86  1694.44  1667.52  1691.58

[4957 rows x 5 columns]