In [1]:
# Import libraries.
import pandas as pd
from pathlib import Path

import importlib
reload = importlib.reload

In [2]:
cwd = Path.cwd()
cwd

WindowsPath('C:/Users/admin/Desktop/2024_projects/showcase/dev_tools')

In [3]:
# CSV paths
amzn_csv = Path(
        "../resources/amazon.csv"
        )
sox_csv = Path(
        "../resources/SOX_2015_2020.csv"
        )
# Create symbol dictionary.
symbol_dict = {
    "amzn": "AMAZON",
    "sox": "SOX"
}
# Create list of paths.
csv_dict = {
    "amzn": amzn_csv,
    "sox": sox_csv
}

# Review list paths.
print(Path.is_file(csv_dict["amzn"]))
print(Path.is_file(csv_dict["sox"]))

True
True

In [4]:
for k, v in symbol_dict.items():
    print(
        f"{k} ==> {v}"
    )

amzn ==> AMAZON
sox ==> SOX

In [5]:
list = []
tup = (list, 34.34, "burrito")
tup

([], 34.34, 'burrito')

In [6]:
tup[0].append("amzn")
tup[0].append("sky")
tup

(['amzn', 'sky'], 34.34, 'burrito')

In [7]:
tup[0]

['amzn', 'sky']

In [8]:
for i in tup[0]:
    print(i)

amzn
sky

In [9]:
# Create containers.
list = []
tup = (list)

# For the purpose of project.
df_tup = ()

In [10]:

for df in csv_dict:
    for k,v in symbol_dict.items():
        df = pd.read_csv(csv_dict[k])
        # df = df.keys = v
        print(df)
        tup.append(df)

           Date         Open         High          Low        Close
0    2018-09-04  2026.500000  2050.500000  2013.000000  2039.510010  \
1    2018-09-05  2038.109985  2040.380005  1989.890015  1994.819946
2    2018-09-06  2006.510010  2007.500000  1935.209961  1958.310059
3    2018-09-07  1938.709961  1975.199951  1937.349976  1952.069946
4    2018-09-10  1971.000000  1973.040039  1931.520020  1939.010010
..          ...          ...          ...          ...          ...
230  2019-08-05  1770.219971  1788.670044  1748.780029  1765.130005
231  2019-08-06  1792.229980  1793.770020  1753.400024  1787.829956
232  2019-08-07  1773.989990  1798.930054  1757.000000  1793.400024
233  2019-08-08  1806.000000  1834.260010  1798.109985  1832.890015
234  2019-08-09  1828.949951  1831.089966  1802.219971  1807.579956

       Adj Close   Volume
0    2039.510010  5721100
1    1994.819946  8220600
2    1958.310059  7488700
3    1952.069946  4892600
4    1939.010010  4544800
..           ...      ...
230  1765.130005  6058200
231  1787.829956  5070300
232  1793.400024  4526900
233  1832.890015  3701200
234  1807.579956  2829600

[235 rows x 7 columns]
                     Date    Open      High      Low    Close
0     2015-05-26 09:30:00   719.51   720.32   714.11   714.70
1     2015-05-26 10:00:00   714.70   715.58   712.02   713.89
2     2015-05-26 12:00:00   713.89   714.56   711.89   711.95
3     2015-05-26 14:00:00   711.95   715.43   711.44   714.79
4     2015-05-27 09:30:00   716.49   723.03   716.21   721.83
...                   ...      ...      ...      ...      ...
4952  2020-05-12 14:00:00  1773.22  1774.03  1724.40  1724.59
4953  2020-05-13 09:30:00  1729.62  1733.20  1708.62  1721.73
4954  2020-05-13 10:00:00  1721.50  1741.61  1689.48  1693.28
4955  2020-05-13 12:00:00  1693.33  1695.57  1674.23  1676.15
4956  2020-05-13 14:00:00  1675.86  1694.44  1667.52  1691.58

[4957 rows x 5 columns]
           Date         Open         High          Low        Close
0    2018-09-04  2026.500000  2050.500000  2013.000000  2039.510010  \
1    2018-09-05  2038.109985  2040.380005  1989.890015  1994.819946
2    2018-09-06  2006.510010  2007.500000  1935.209961  1958.310059
3    2018-09-07  1938.709961  1975.199951  1937.349976  1952.069946
4    2018-09-10  1971.000000  1973.040039  1931.520020  1939.010010
..          ...          ...          ...          ...          ...
230  2019-08-05  1770.219971  1788.670044  1748.780029  1765.130005
231  2019-08-06  1792.229980  1793.770020  1753.400024  1787.829956
232  2019-08-07  1773.989990  1798.930054  1757.000000  1793.400024
233  2019-08-08  1806.000000  1834.260010  1798.109985  1832.890015
234  2019-08-09  1828.949951  1831.089966  1802.219971  1807.579956

       Adj Close   Volume
0    2039.510010  5721100
1    1994.819946  8220600
2    1958.310059  7488700
3    1952.069946  4892600
4    1939.010010  4544800
..           ...      ...
230  1765.130005  6058200
231  1787.829956  5070300
232  1793.400024  4526900
233  1832.890015  3701200
234  1807.579956  2829600

[235 rows x 7 columns]
                     Date    Open      High      Low    Close
0     2015-05-26 09:30:00   719.51   720.32   714.11   714.70
1     2015-05-26 10:00:00   714.70   715.58   712.02   713.89
2     2015-05-26 12:00:00   713.89   714.56   711.89   711.95
3     2015-05-26 14:00:00   711.95   715.43   711.44   714.79
4     2015-05-27 09:30:00   716.49   723.03   716.21   721.83
...                   ...      ...      ...      ...      ...
4952  2020-05-12 14:00:00  1773.22  1774.03  1724.40  1724.59
4953  2020-05-13 09:30:00  1729.62  1733.20  1708.62  1721.73
4954  2020-05-13 10:00:00  1721.50  1741.61  1689.48  1693.28
4955  2020-05-13 12:00:00  1693.33  1695.57  1674.23  1676.15
4956  2020-05-13 14:00:00  1675.86  1694.44  1667.52  1691.58

[4957 rows x 5 columns]

In [11]:
tup[0]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-09-04,2026.500000,2050.500000,2013.000000,2039.510010,2039.510010,5721100
1,2018-09-05,2038.109985,2040.380005,1989.890015,1994.819946,1994.819946,8220600
2,2018-09-06,2006.510010,2007.500000,1935.209961,1958.310059,1958.310059,7488700
3,2018-09-07,1938.709961,1975.199951,1937.349976,1952.069946,1952.069946,4892600
4,2018-09-10,1971.000000,1973.040039,1931.520020,1939.010010,1939.010010,4544800
...,...,...,...,...,...,...,...
230,2019-08-05,1770.219971,1788.670044,1748.780029,1765.130005,1765.130005,6058200
231,2019-08-06,1792.229980,1793.770020,1753.400024,1787.829956,1787.829956,5070300
232,2019-08-07,1773.989990,1798.930054,1757.000000,1793.400024,1793.400024,4526900
233,2019-08-08,1806.000000,1834.260010,1798.109985,1832.890015,1832.890015,3701200
234,2019-08-09,1828.949951,1831.089966,1802.219971,1807.579956,1807.579956,2829600

In [12]:
tup[1]

                     Date    Open      High      Low    Close
0     2015-05-26 09:30:00   719.51   720.32   714.11   714.70
1     2015-05-26 10:00:00   714.70   715.58   712.02   713.89
2     2015-05-26 12:00:00   713.89   714.56   711.89   711.95
3     2015-05-26 14:00:00   711.95   715.43   711.44   714.79
4     2015-05-27 09:30:00   716.49   723.03   716.21   721.83
...                   ...      ...      ...      ...      ...
4952  2020-05-12 14:00:00  1773.22  1774.03  1724.40  1724.59
4953  2020-05-13 09:30:00  1729.62  1733.20  1708.62  1721.73
4954  2020-05-13 10:00:00  1721.50  1741.61  1689.48  1693.28
4955  2020-05-13 12:00:00  1693.33  1695.57  1674.23  1676.15
4956  2020-05-13 14:00:00  1675.86  1694.44  1667.52  1691.58

[4957 rows x 5 columns]

___
# App: data_sanitizer

In [13]:
cwd

WindowsPath('C:/Users/admin/Desktop/2024_projects/showcase/dev_tools')

In [14]:
ls ..\app_tools

 Volume in drive C has no label.
 Volume Serial Number is 30E6-A2C1

 Directory of C:\Users\admin\Desktop\2024_projects\showcase\app_tools

03/11/2024  12:27 PM    <DIR>          .
03/13/2024  12:50 AM    <DIR>          ..
03/11/2024  02:22 AM                86 __init__.py
03/11/2024  09:56 PM    <DIR>          __pycache__
03/11/2024  12:27 PM               480 data_sanitizer.py
               2 File(s)            566 bytes
               3 Dir(s)  359,829,778,432 bytes free

In [15]:
import test

In [16]:
test.hello()

Almost...there!!!

In [17]:
cd ..\

C:\Users\admin\Desktop\2024_projects\showcase

In [18]:
pwd

'C:\\Users\\admin\\Desktop\\2024_projects\\showcase'

In [19]:
import app_main

pct_change.py is run as import.

2024-03-13 02:52:39.898
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\admin\anaconda3\envs\FinBlockchain\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

Run as import

In [20]:
list = ["burrito", 42, "banana"]

In [21]:
print(app_main.tab1==list)

False

In [22]:
print(dir(app_main))

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'cln', 'csv_ex', 'dfs', 'k', 'st', 'symbol_dict', 'sys', 'tab1', 'tab10', 'tab11', 'tab2', 'tab3', 'tab4', 'tab5', 'tab6', 'tab7', 'tab8', 'tab9', 'v']

In [23]:
dfs = app_main.dfs
dfs

{'amzn':            Date         Open         High          Low        Close
 0    2018-09-04  2026.500000  2050.500000  2013.000000  2039.510010  \
 1    2018-09-05  2038.109985  2040.380005  1989.890015  1994.819946
 2    2018-09-06  2006.510010  2007.500000  1935.209961  1958.310059
 3    2018-09-07  1938.709961  1975.199951  1937.349976  1952.069946
 4    2018-09-10  1971.000000  1973.040039  1931.520020  1939.010010
 ..          ...          ...          ...          ...          ...
 230  2019-08-05  1770.219971  1788.670044  1748.780029  1765.130005
 231  2019-08-06  1792.229980  1793.770020  1753.400024  1787.829956
 232  2019-08-07  1773.989990  1798.930054  1757.000000  1793.400024
 233  2019-08-08  1806.000000  1834.260010  1798.109985  1832.890015
 234  2019-08-09  1828.949951  1831.089966  1802.219971  1807.579956

        Adj Close   Volume
 0    2039.510010  5721100
 1    1994.819946  8220600
 2    1958.310059  7488700
 3    1952.069946  4892600
 4    1939.010010  4544800
 ..           ...      ...
 230  1765.130005  6058200
 231  1787.829956  5070300
 232  1793.400024  4526900
 233  1832.890015  3701200
 234  1807.579956  2829600

 [235 rows x 7 columns],
 'sox':                      Date    Open      High      Low    Close
 0     2015-05-26 09:30:00   719.51   720.32   714.11   714.70
 1     2015-05-26 10:00:00   714.70   715.58   712.02   713.89
 2     2015-05-26 12:00:00   713.89   714.56   711.89   711.95
 3     2015-05-26 14:00:00   711.95   715.43   711.44   714.79
 4     2015-05-27 09:30:00   716.49   723.03   716.21   721.83
 ...                   ...      ...      ...      ...      ...
 4952  2020-05-12 14:00:00  1773.22  1774.03  1724.40  1724.59
 4953  2020-05-13 09:30:00  1729.62  1733.20  1708.62  1721.73
 4954  2020-05-13 10:00:00  1721.50  1741.61  1689.48  1693.28
 4955  2020-05-13 12:00:00  1693.33  1695.57  1674.23  1676.15
 4956  2020-05-13 14:00:00  1675.86  1694.44  1667.52  1691.58

 [4957 rows x 5 columns]}

In [24]:
amzn_df = app_main.dfs["amzn"]
amzn_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-09-04,2026.500000,2050.500000,2013.000000,2039.510010,2039.510010,5721100
1,2018-09-05,2038.109985,2040.380005,1989.890015,1994.819946,1994.819946,8220600
2,2018-09-06,2006.510010,2007.500000,1935.209961,1958.310059,1958.310059,7488700
3,2018-09-07,1938.709961,1975.199951,1937.349976,1952.069946,1952.069946,4892600
4,2018-09-10,1971.000000,1973.040039,1931.520020,1939.010010,1939.010010,4544800

In [25]:
sox_df = app_main.dfs["sox"]
sox_df.head()

                  Date   Open     High     Low   Close
0  2015-05-26 09:30:00  719.51  720.32  714.11  714.70
1  2015-05-26 10:00:00  714.70  715.58  712.02  713.89
2  2015-05-26 12:00:00  713.89  714.56  711.89  711.95
3  2015-05-26 14:00:00  711.95  715.43  711.44  714.79
4  2015-05-27 09:30:00  716.49  723.03  716.21  721.83

In [26]:
cln = app_main.cln
cln

In [27]:
csv = app_main.csv_ex
print(dir(csv))
csv

['Path', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'amzn_csv', 'csv_dict', 'data', 'pct', 'sox_csv', 'st']

In [28]:
st = app_main.st
st

In [29]:
symbols = app_main.symbol_dict
symbols

{'amzn': 'AMAZON', 'sox': 'SOX'}

In [30]:
print(dir(app_main.tab1))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_active_dg', '_arrow_add_rows', '_arrow_altair_chart', '_arrow_area_chart', '_arrow_bar_chart', '_arrow_dataframe', '_arrow_line_chart', '_arrow_table', '_arrow_vega_lite_chart', '_block', '_block_type', '_button', '_camera_input', '_checkbox', '_color_picker', '_count_num_of_parent_columns', '_create_heading_proto', '_cursor', '_date_input', '_download_button', '_enqueue', '_file_uploader', '_form_data', '_form_submit_button', '_get_delta_path_str', '_html', '_iframe', '_is_top_level', '_legacy_add_rows', '_legacy_altair_chart', '_legacy_area_chart', '_legacy_bar_chart', '_legacy_dataframe', '_legacy_line_chart', '_legacy_table', '_legacy_vega_lite_chart', '_main_dg', '_multiselect', '_number_input', '_parent', '_parent_block_types', '_provided_cursor', '_radio', '_root_container', '_select_slider', '_selectbox', '_slider', '_text_area', '_text_input', '_time_input', 'add_rows', 'altair_chart', 'area_chart', 'audio', 'balloons', 'bar_chart', 'beta_columns', 'beta_container', 'beta_expander', 'bokeh_chart', 'button', 'camera_input', 'caption', 'checkbox', 'code', 'color_picker', 'columns', 'container', 'dataframe', 'date_input', 'dg', 'divider', 'download_button', 'empty', 'error', 'exception', 'expander', 'experimental_data_editor', 'file_uploader', 'form', 'form_submit_button', 'graphviz_chart', 'header', 'help', 'id', 'image', 'info', 'json', 'latex', 'line_chart', 'map', 'markdown', 'metric', 'multiselect', 'number_input', 'plotly_chart', 'progress', 'pydeck_chart', 'pyplot', 'radio', 'select_slider', 'selectbox', 'slider', 'snow', 'subheader', 'success', 'table', 'tabs', 'text', 'text_area', 'text_input', 'time_input', 'title', 'vega_lite_chart', 'video', 'warning', 'write']

In [31]:
print(dir(app_main.tab2))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_active_dg', '_arrow_add_rows', '_arrow_altair_chart', '_arrow_area_chart', '_arrow_bar_chart', '_arrow_dataframe', '_arrow_line_chart', '_arrow_table', '_arrow_vega_lite_chart', '_block', '_block_type', '_button', '_camera_input', '_checkbox', '_color_picker', '_count_num_of_parent_columns', '_create_heading_proto', '_cursor', '_date_input', '_download_button', '_enqueue', '_file_uploader', '_form_data', '_form_submit_button', '_get_delta_path_str', '_html', '_iframe', '_is_top_level', '_legacy_add_rows', '_legacy_altair_chart', '_legacy_area_chart', '_legacy_bar_chart', '_legacy_dataframe', '_legacy_line_chart', '_legacy_table', '_legacy_vega_lite_chart', '_main_dg', '_multiselect', '_number_input', '_parent', '_parent_block_types', '_provided_cursor', '_radio', '_root_container', '_select_slider', '_selectbox', '_slider', '_text_area', '_text_input', '_time_input', 'add_rows', 'altair_chart', 'area_chart', 'audio', 'balloons', 'bar_chart', 'beta_columns', 'beta_container', 'beta_expander', 'bokeh_chart', 'button', 'camera_input', 'caption', 'checkbox', 'code', 'color_picker', 'columns', 'container', 'dataframe', 'date_input', 'dg', 'divider', 'download_button', 'empty', 'error', 'exception', 'expander', 'experimental_data_editor', 'file_uploader', 'form', 'form_submit_button', 'graphviz_chart', 'header', 'help', 'id', 'image', 'info', 'json', 'latex', 'line_chart', 'map', 'markdown', 'metric', 'multiselect', 'number_input', 'plotly_chart', 'progress', 'pydeck_chart', 'pyplot', 'radio', 'select_slider', 'selectbox', 'slider', 'snow', 'subheader', 'success', 'table', 'tabs', 'text', 'text_area', 'text_input', 'time_input', 'title', 'vega_lite_chart', 'video', 'warning', 'write']

'cln', 'csv_ex', 'dfs', 'k', 'st', 'symbol_dict', 'sys', 'tab1', 'tab10', 'tab11', 'tab2', 'tab3', 'tab4', 'tab5', 'tab6', 'tab7', 'tab8', 'tab9', 'v'

In [32]:
cd app_tools/

C:\Users\admin\Desktop\2024_projects\showcase\app_tools

In [33]:
pwd

'C:\\Users\\admin\\Desktop\\2024_projects\\showcase\\app_tools'

In [34]:
import data_sanitizer

In [35]:
print(dir(data_sanitizer))

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'app_tools', 'janitor', 'st']

In [36]:
dt_san = data_sanitizer
display(dt_san)
print(dir(dt_san))

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'app_tools', 'janitor', 'st']

In [37]:
app_tools = dt_san.app_tools
display(app_tools)
print(dir(app_tools))

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'cln', 'data_sanitizer', 'frontend']

In [38]:
fe = app_tools.frontend
display(fe)
print(dir(fe))

['Path', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'csv_ex', 'csv_example', 'pct', 'pd', 'st']

In [39]:
pct = fe.pct
display(pct)
print(dir(pct))

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'csv_path', 'main', 'pd', 'read_csv', 'sys']

In [40]:
pwd

'C:\\Users\\admin\\Desktop\\2024_projects\\showcase\\app_tools'

In [41]:
dt_san.janitor(amzn_df)

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [42]:
print(dir(importlib))

['_RELOADING', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__import__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_abc', '_adapters', '_bootstrap', '_bootstrap_external', '_common', '_imp', '_pack_uint32', '_unpack_uint32', 'abc', 'find_loader', 'import_module', 'invalidate_caches', 'machinery', 'metadata', 'readers', 'reload', 'resources', 'sys', 'util', 'warnings']

In [43]:
print(dir(reload))

['__annotations__', '__builtins__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__globals__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [44]:
for df in dfs.items():
    print(type(df))

<class 'tuple'>
<class 'tuple'>

In [45]:
print(dir(dfs))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [46]:
print(dir(amzn_df))
print("="*50)
print(amzn_df.__dict__)

['Close', 'Date', 'High', 'Low', 'Open', 'T', 'Volume', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__bool__', '__class__', '__contains__', '__copy__', '__dataframe__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_examples_doc', '_agg_summary_and_see_also_doc', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_attrs', '_box_col_values', '_can_fast_transpose', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_combine_frame', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_sliced', '_create_data_for_split_and_tight_to_dict', '_data', '_dir_additions', '_dir_deletions', '_dispatch_frame_op', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_find_valid_index', '_flags', '_from_arrays', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cleaned_column_resolvers', '_get_column_array', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_getitem_bool_array', '_getitem_multilevel', '_getitem_nocopy', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_copy', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_iset_item', '_iset_item_mgr', '_iset_not_inplace', '_item_cache', '_iter_column_arrays', '_ixs', '_join_compat', '_logical_func', '_logical_method', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_mgr', '_min_count_stat_function', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_reduce_axis1', '_reindex_axes', '_reindex_columns', '_reindex_index', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_columnwise', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_series', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_item', '_set_item_frame_value', '_set_item_mgr', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take', '_take_with_is_copy', '_to_dict_of_blocks', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'applymap', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'backfill', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isetitem', 'isin', 'isna', 'isnull', 'items', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_flags', 'set_index', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_orc', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unstack', 'update', 'value_counts', 'values', 'var', 'where', 'xs']
==================================================
{'_is_copy': None, '_mgr': BlockManager
Items: Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')
Axis 1: RangeIndex(start=0, stop=235, step=1)
ObjectBlock: slice(0, 1, 1), 1 x 235, dtype: object
NumericBlock: slice(1, 6, 1), 5 x 235, dtype: float64
NumericBlock: slice(6, 7, 1), 1 x 235, dtype: int64, '_item_cache': {'Date': 0      2018-09-04
1      2018-09-05
2      2018-09-06
3      2018-09-07
4      2018-09-10
          ...
230    2019-08-05
231    2019-08-06
232    2019-08-07
233    2019-08-08
234    2019-08-09
Name: Date, Length: 235, dtype: object, 'Open': 0      2026.500000
1      2038.109985
2      2006.510010
3      1938.709961
4      1971.000000
          ...
230    1770.219971
231    1792.229980
232    1773.989990
233    1806.000000
234    1828.949951
Name: Open, Length: 235, dtype: float64, 'High': 0      2050.500000
1      2040.380005
2      2007.500000
3      1975.199951
4      1973.040039
          ...
230    1788.670044
231    1793.770020
232    1798.930054
233    1834.260010
234    1831.089966
Name: High, Length: 235, dtype: float64, 'Low': 0      2013.000000
1      1989.890015
2      1935.209961
3      1937.349976
4      1931.520020
          ...
230    1748.780029
231    1753.400024
232    1757.000000
233    1798.109985
234    1802.219971
Name: Low, Length: 235, dtype: float64, 'Close': 0      2039.510010
1      1994.819946
2      1958.310059
3      1952.069946
4      1939.010010
          ...
230    1765.130005
231    1787.829956
232    1793.400024
233    1832.890015
234    1807.579956
Name: Close, Length: 235, dtype: float64, 'Adj Close': 0      2039.510010
1      1994.819946
2      1958.310059
3      1952.069946
4      1939.010010
          ...
230    1765.130005
231    1787.829956
232    1793.400024
233    1832.890015
234    1807.579956
Name: Adj Close, Length: 235, dtype: float64, 'Volume': 0      5721100
1      8220600
2      7488700
3      4892600
4      4544800
        ...
230    6058200
231    5070300
232    4526900
233    3701200
234    2829600
Name: Volume, Length: 235, dtype: int64}, '_attrs': {}, '_flags': <Flags(allows_duplicate_labels=True)>}

In [47]:
type(dfs.items())

dict_items

In [48]:
col_df = []
for col in amzn_df.keys():
    label = col.lower()
    col_df.append(label)

In [49]:
amzn_df.columns=col_df

In [50]:
amzn_df

,date,open,high,low,close,adj close,volume
0,2018-09-04,2026.500000,2050.500000,2013.000000,2039.510010,2039.510010,5721100
1,2018-09-05,2038.109985,2040.380005,1989.890015,1994.819946,1994.819946,8220600
2,2018-09-06,2006.510010,2007.500000,1935.209961,1958.310059,1958.310059,7488700
3,2018-09-07,1938.709961,1975.199951,1937.349976,1952.069946,1952.069946,4892600
4,2018-09-10,1971.000000,1973.040039,1931.520020,1939.010010,1939.010010,4544800
...,...,...,...,...,...,...,...
230,2019-08-05,1770.219971,1788.670044,1748.780029,1765.130005,1765.130005,6058200
231,2019-08-06,1792.229980,1793.770020,1753.400024,1787.829956,1787.829956,5070300
232,2019-08-07,1773.989990,1798.930054,1757.000000,1793.400024,1793.400024,4526900
233,2019-08-08,1806.000000,1834.260010,1798.109985,1832.890015,1832.890015,3701200
234,2019-08-09,1828.949951,1831.089966,1802.219971,1807.579956,1807.579956,2829600

In [51]:
print(symbols)
print(symbol_dict)

{'amzn': 'AMAZON', 'sox': 'SOX'}
{'amzn': 'AMAZON', 'sox': 'SOX'}

In [52]:


def df_low():
    for df in dfs:
        return df
        # for k, v in symbols.items():
        # stock_df = dfs[df]
        # cols = stock_df.keys()
        
        # col_label1 = []

        # stock_df.rename_axis=col_label1
        
        
        # for col in cols:
        #     label = col.lower()
        #     col_label1.append(label)
        #     # stock_df.columns = col_label
        #     # print(stock_df)
        #     return stock_df

In [53]:
df_low()

'amzn'

In [55]:
dfs["sox"]

                     Date    Open      High      Low    Close
0     2015-05-26 09:30:00   719.51   720.32   714.11   714.70
1     2015-05-26 10:00:00   714.70   715.58   712.02   713.89
2     2015-05-26 12:00:00   713.89   714.56   711.89   711.95
3     2015-05-26 14:00:00   711.95   715.43   711.44   714.79
4     2015-05-27 09:30:00   716.49   723.03   716.21   721.83
...                   ...      ...      ...      ...      ...
4952  2020-05-12 14:00:00  1773.22  1774.03  1724.40  1724.59
4953  2020-05-13 09:30:00  1729.62  1733.20  1708.62  1721.73
4954  2020-05-13 10:00:00  1721.50  1741.61  1689.48  1693.28
4955  2020-05-13 12:00:00  1693.33  1695.57  1674.23  1676.15
4956  2020-05-13 14:00:00  1675.86  1694.44  1667.52  1691.58

[4957 rows x 5 columns]

# API: Alpaca